<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="head_green" >

    </div>

    <div id="app" >

    
        <main class="container" >
    
            <!--aside-->
            <aside>
                <div class="head" >
                    <div class="cont_left" >
                        <div class="account" >
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <h4>Nome Utente</h4>
                    </div>
                    <div class="cont_right" >
                        <div class="cont_icons" >
                            <i class="fas fa-circle-notch"></i>
                        </div>
                        <div class="cont_icons" >
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="cont_icons" >
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
    
                </div>
                <div class="navbar" >
                    <div class="notifications" >
                        <div class="cont_left" >
                            <div class="cont_icons" >
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                        </div>
                        <div class="cont_right" >
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a class="grey hover_blue" href="http://">Attiva notifiche desktop</a>
                        </div>
    
                    </div>
                    <div class="cont_search" >
                        <div class="cont_icons" >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>                 
                        <input type="text" placeholder="Cerca o inizia una nuova chat" >
                    </div>
                </div>
    
    
                <!--contatti-->
                <div class="container-contact" >
                    <div class="contact" v-for="(contact, index) in contacts" @click="change(index)" >
                        <div class="account" id="contact-img" >
                            <img :src='`./img/avatar${contact.avatar}.jpg`'>
                        </div>
                        <div class="contact-info" >
                            <h3>{{contact.name}}</h3>
                            <span class="grey" >{{}}</span>
                        </div>             
                    </div>
                </div>
            </aside>
            <!--fine contatti-->
    
            <!--fine aside-->
    
            <!--main-->
            <div class="mex">

                <!--users-->
                <div class="head" >
                    <div class="cont_left" >
                        <div class="account" >
                            <img :src="`./img/avatar${contacts[active].avatar}.jpg`" alt="">
                        </div>
                        <div class="info" >
                            <h4>{{contacts[active].name}}</h4>
                            <span class="grey" >Ultimo accesso alle ...</span> 
                            <span class="grey" >orario</span>
                        </div>
                    </div>
                    <div class="cont_right" >
                        <div class="cont_icons" >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="cont_icons" >
                            <i class="fa-solid fa-paperclip"></i>
                        </div>
                        <div class="cont_icons" >
                            <i class="fas fa-ellipsis-v"></i>
                        </div>                
                    </div>
                </div>
                <!--users-->



                <!--conversation-->
                <div class="cont-messages" >
                    <div class="conversation" v-for="conversation in contacts[active].messages" :class="conversation.status" >
                        <div>{{conversation.text}}</div>
                    </div>
                </div>
                <!--fine conversation-->






                <!--write text-->
                <div class="foot_text" >
                    <div class="cont_icons" >
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="write_text" >
                        <input type="text" @keyup.enter="sendMessage" v-model="newMessage" placeholder="Scrivi un messaggio..." >
                    </div>
                    <div class="cont_icons red" >
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
                <!--fine write text-->
            </div>
            <!--fine main-->
    
        </main>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>