/*regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head {
    width: 100%;
    height: 85px;
    min-width: 350px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account {
    width: 70px;
    height: 70px;
    background-color: beige;
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
}

.account img {
    object-fit: contain;   
    width: 100%;
    border-radius: 50%;
}

.cont_left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cont_right {
    display: flex;
}

.cont_icons i {
    font-size: 20px;
    margin: auto 5px;
}

i {
    color: #b0b0b0;
    padding: 10px;
}

i:hover {
    color: #000;
    cursor: pointer;
}

.grey {
    color: #b1b1b1;
}

/*Body*/

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #dadcd5;
}

.head_green{
    width: 100%;
    height: 25%;
    background-color: #1c9688;
}

/*container*/

.container{
    width: 80%;
    height: 80%;
    margin: auto;
    min-width: 700px;
    min-height: 100px;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
}

/*aside*/

aside {
    width: 30%;
    height: 100%;
    min-width: 350px;
    background-color: #ffffff;
    border-right: 2px solid #d8d8d8;
    overflow: hidden
}

aside .head {
    border-right: 2px solid #d8d8d8 ;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.notifications {
    width: 100%;
    height: 85px;
    background-color: #8edafd;
    display: flex;
    align-items: center;
}

.navbar .cont_left .cont_icons i {
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    color: #8edafd;
}

.navbar .cont_left .cont_icons i:hover, .hover_blue:hover {
    color: blue;
}

.navbar .cont_right {
    flex-direction: column;
}

.cont_search {
    width: 95%;
    height: 50px;
    margin: 10px auto;
    border: 1px solid rgb(236, 236, 236);
    display: flex;
    align-items: center;
}

input {
    width: 90%;
    height: 100%;
    border: none;
}

.container-contact{
    overflow: auto;
}

.contact{
    display: flex;
    padding: 10px;
}

.contact:hover {
    background-color: #dbd9d9;
}

/*contacts*/

/*main*/
.mex {
    width: 70%;
    height: 100%;
    background-image: url('img/mine.jpg');  
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
}

.cont-messages{
    height: 70%;
    display: flex;
    margin: 0px 20px;
    overflow: auto;
    display: block;
}

.conversation {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    margin: 10px 0px;
}

.conversation.received {
    background-color: #feffff;
}

.conversation.sent {
    background-color: #d6f9ba;
    margin-left: auto;
}



/*foot_text*/

.foot_text {
    width: 100%;
    height: 70px;
    background-color: #f4eeea;
    display: flex;
    align-items: center;
    align-content: flex-end;
}

.foot_text i {
    color:#6a7376
}

.foot_text i:hover {
    color: #000;
}

.foot_text .red :hover {
    color: rgb(255, 0, 0);
}

.foot_text .write_text {
    width: 100%;
}

.foot_text .write_text input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}








